@model BAMTriviaProject2MVC.ViewModels.QuizzesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Quiz</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label" id="DefaultStore"></label>
                <select asp-for="Category"
                        asp-items="@(new SelectList(Model.Categories))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <select asp-for="Difficulty"
                        asp-items="@(new SelectList(Model.Difficulties, "Key", "Value"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

